body{
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  font-weight: normal;
  font-family: "PT Sans", "Arial", "sans-serif";
  text-transform: uppercase;
}
h1{
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
h2{
  margin: 0;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
.shadow-container{
  position: relative;
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 40px 2px #dbdbdb;
}

/********** Кнопки **********/
.btn{
  display: inline-block;
  padding: 2px 17px;
  vertical-align: top;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
  background-color: #81b3d2;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
.btn:focus{
  outline: none;
}
.btn-transparent{
  padding: 6px 0 4px;
  padding-left: 35px;
  padding-right: 33px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font-weight: normal;
  background-color: transparent;
}
.btn-transparent:hover{
  color: #000000;
  background-color: #ffffff;
}
.btn-details{
  margin-bottom: 5px;
  margin-right: 6px;
  text-align: center;
  background-color: #81b3d2;
}
.btn-details:hover{
  background-color: #669ec0;
}
.btn-details:active{
  background-color: #5496bd;
  color: #88b6d1;
}
.btn-reserve{
  margin-bottom: 5px;
  text-align: center;
  background-color: #766357;
}
.btn-reserve:hover{
  background-color: #604e43;
}
.btn-reserve:active{
  background-color: #503e33;
  color: #857871;
}
.modal-search-btn{
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  background-color: #81b3d2;
}
.modal-search-btn:hover{
  background-color: #669ec0;
}
.modal-search-btn:active{
  background-color: #5496bd;
  color: #88b6d1;
}
.btn.disabled,
.btn:disabled{
  opacity: 0.5;
  cursor: default;
}

/********** Чекбокс **********/
input[type="checkbox"] + label{
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}
input[type="checkbox"] + label::before{
  content: "";
  position: absolute;
  display: block;
  top: -2px;
  left: 0;
  width: 26px;
  height: 22px;
  background: url("../img/sprite.png") no-repeat -134px -82px;
}
input[type="checkbox"] + label:hover::before{
  background-position: -134px -82px;
}
input[type="checkbox"]:disabled + label::before{
  background-position: -196px -82px;
}
input[type="checkbox"]:checked + label::before{
  background-position: -258px -82px;
}
input[type="checkbox"]:checked + label:hover::before{
  background-position: -258px -82px;
}
input[type="checkbox"]:checked:disabled + label::before{
  background-position: -20px -144px;
}
input[type="checkbox"]:disabled + label{
  cursor: default;
}

/***** Анимация "Прыжок cнизу" для окна "Поиск гостиницы" *****/
@-webkit-keyframes jumpBottom{
  from{
    -webkit-transform: translate(-50%, 2000px);
            transform: translate(-50%, 2000px);
  }
  to{
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
  }
}
@keyframes jumpBottom{
  from{
    -webkit-transform: translate(-50%, 2000px);
            transform: translate(-50%, 2000px);
  }
  to{
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
  }
}

/********** Модальное окно "Поиск гостиницы" **********/
.modal-content{
  padding-top: 55px;
  padding-bottom: 55px;
  padding-left: 57px;
  padding-right: 53px;
  background-color: #ffffff;
  box-shadow: 0 7px 15px 1px rgba(0, 1, 1, 0.15);
}
.modal-search-hotels.show{
  display: block;
  -webkit-animation: jumpBottom 0.3s;
          animation: jumpBottom 0.3s;
}
.modal-search-hotels{
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
  display: none;
  width: 568px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  z-index: 10;
}
.arrive-date,
.departure-date{
  min-height: 38px;
  margin-bottom: 29px;
  font-size: 0;
}
.departure-date{
  margin-bottom: 30px;
}
.arrive-date label,
.departure-date label{
  display: inline-block;
  min-width: 111px;
  vertical-align: baseline;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
}
.modal-input-container{
  position: relative;
  display: inline-block;
  width: 346px;
  height: 38px;
  vertical-align: baseline;
}
.arrive-date input,
.departure-date input{
  width: 100%;
  height: inherit;
  border: 2px solid #f2f2f2;
  padding: 4px 0;
  padding-left: 11px;
  box-sizing: border-box;
  vertical-align: baseline;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #f2f2f2;
  outline: none;
}
.arrive-date input:hover,
.departure-date input:hover{
  border-color: #ebebeb;
  background-color: #ebebeb;
}
.arrive-date input:focus,
.departure-date input:focus{
  border-color: #e5e5e5;
  background-color: #ffffff;
}
.calendar{
  content: "";
  position: absolute;
  top: 8px;
  right: 10px;
  width: 21px;
  height: 22px;
  padding: 0;
  border: none;
  background: url("../img/sprite.png") no-repeat -256px -20px;
  font-size: 0;
  cursor: pointer;
}
.calendar:hover{
  background: url("../img/sprite.png") no-repeat -134px -20px;
}
.calendar:active{
  background: url("../img/sprite.png") no-repeat -195px -20px;
  outline: none;
}
.calendar:focus{
  outline: none;
}
.adults,
.children{
  margin-bottom: 54px;
}
.adults{
  float: left;
  width: 50%;
}
.adults label{
  display: inline-block;
  margin-top: 7px;
  vertical-align: baseline;
}
.children{
  float: right;
  width: 50%;
}
.children label{
  display: inline-block;
  margin-top: 7px;
  margin-left: 22%;
  vertical-align: baseline;
}
.quantity-controls{
  float: right;
  width: 114px;
  height: 38px;
  font-size: 0;
  background-color: #f2f2f2;
}
.adults .quantity-controls{
  margin-right: 4px;
}
.quantity-controls input{
  display: inline-block;
  width: 34px;
  height: inherit;
  border: 2px solid #f2f2f2;
  padding: 4px 0;
  padding-left: 11px;
  box-sizing: border-box;
  vertical-align: top;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  background: none;
  outline: none;
}
.adults input:hover,
.children input:hover{
  border-color: #ebebeb;
  background-color: #ebebeb;
}
.adults input:focus,
.children input:focus{
  border-color: #e5e5e5;
  background-color: #ffffff;
}
.quantity-less,
.quantity-more{
  position: relative;
  display: inline-block;
  width: 40px;
  height: inherit;
  border: none;
  padding: 6px 0;
  vertical-align: top;
  font-size: 0;
  background: none;
  outline: none;
  cursor: pointer;
}
.quantity-less::before,
.quantity-more::before{
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 11px;
  height: 3px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #a9a9a9;
}
.quantity-more::after{
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 3px;
  height: 11px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #a9a9a9;
}
.quantity-less:hover::before,
.quantity-more:hover::before,
.quantity-more:hover::after{
  background-color: #000000;
}
.quantity-less:active::before,
.quantity-more:active::before,
.quantity-more:active::after{
  background-color: #81b3d2;
}

/********** Хедер **********/
.main-header{
  position: relative;
}
.menu-list{
  padding: 0;
  font-size: 0;
}
.menu-item{
  display: inline-block;
  width: 20%;
  padding-top: 17px;
  padding-bottom: 18px;
  vertical-align: top;
  font-size: 14px;
  text-align: center;
}
.menu-item:nth-child(2){
  margin-right: 20%;
}
.menu-link{
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}
.menu-link:hover{
  color: #81b3d2;
}
.menu-link:active{
  color: #b2b2b2;
}
.menu-link.active{
  color: #766357;
}
.menu-link.active:hover{
  color: #604e43;
}
.menu-link.active:active{
  color: #d6d0cc;
}
.logo-link{
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 138px;
  height: 70px;
  cursor: pointer;
}
.welcome{
  height: 510px;
  margin-bottom: 58px;
  color: #ffffff;
  text-align: center;
  background:
    url("../img/index-mask-bg.png") no-repeat center bottom,
    #8b99a2 url("../img/index-welcome-bg.jpg") no-repeat 50% 22%;
  background-size: 100%, cover;
}
.welcome img{
  min-width: 458px;
  min-height: 352px;
  margin-top: 76px;
}

/********** Статья "Причины" **********/
.reasons-title,
.reasons-description{
  width: 576px;
  margin: 0 auto;
  text-align: center;
}
.reasons-title{
  margin-bottom: 27px;
}
.reasons-description{
  margin-bottom: 51px;
  line-height: 26px;
}
.reason-item{
  float: left;
  width: 33.3333333333%;
  min-height: 256px;
  padding-top: 54px;
  box-sizing: border-box;
  text-align: center;
}
.reason-container{
  min-height: 256px;
  background-color: #81b3d2;
}
.reason-container .reason-item{
  background-color: transparent;
  color: #ffffff;
}
.features{
  background-color: #ffffff;
}
.features .reason-item{
  position: relative;
  min-height: 330px;
  padding-top: 161px;
  background-color: transparent;
}
.reason-house::before{
  content: "";
  position: absolute;
  top: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 75px;
  height: 72px;
  background: url("../img/sprite.png") no-repeat -324px -20px;
}
.reason-food::before{
  content: "";
  position: absolute;
  top: 61px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 74px;
  height: 70px;
  background: url("../img/sprite.png") no-repeat -20px -20px;
}
.reason-souvenirs::before{
  content: "";
  position: absolute;
  top: 56px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 64px;
  height: 76px;
  background: url("../img/sprite.png") no-repeat -326px -132px;
}
.reasons-block{
  background-color: #eeeeee
}
.reasons-block .reason-item{
  padding-top: 47px;
  background-color: transparent;
}
.reason-title{
  width: 50%;
  margin: 0 auto;
  margin-bottom: 24px;
  text-align: center;
}
.reason-wide-title{
  width: 60%;
}
.reason-number{
  display: block;
  margin: 0 auto;
  margin-bottom: 21px;
}
.reason-description{
  width: calc(75% + 2px);
  margin: 0 auto;
}
.reason-wide-description{
  width: calc(85% - 35px);
}
.features .reason-description{
  width: calc(90% - 65px);
}
.features .reason-narrow-description{
  width: 65%;
}
.reasons-block .reason-description{
  width: 70%;
}
.reasons-block .reason-narrow-description{
  width: calc(85% - 70px);
}
.reason-image{
  float: left;
  width: calc(100%/3*2);
  min-height: 256px;
}
.reason-town-image{
  background: #989484 url("../img/reason-town.jpg") no-repeat center center;
  background-size: 100% auto;
}
.reason-bridge-image{
  background: #c38b6d url("../img/reason-bridge.jpg") no-repeat center center;
  background-size: 100% auto;
}

/********** Секция "Поиск гостиниц" **********/
.search-hotels{
  position: relative;
  padding-top: 56px;
}
.search-hotels-title,
.search-hotels-description{
  width: 576px;
  margin: 0 auto;
  text-align: center;
}
.search-hotels-title{
  display: block;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
}
.search-hotels-description{
  margin-bottom: 47px;
  font-size: 14px;
  line-height: 24px;
}
.search-hotels-btn{
  display: block;
  width: 568px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  vertical-align: top;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  background-color: #766357;
  color: #ffffff;
  text-decoration: none;
}

/********** Карта **********/
.map{
  width: 100%;
  height: 593px;
  background: #d1e0b5 url(../img/map.jpg) no-repeat;
}

/********** Фильтр **********/
.filter{
  background: #54636f url("../img/filter-bg.jpg") no-repeat 50% 20%;
  background-size: 100%;
  padding: 0 6%;
  padding-top: 27px;
  color: #ffffff;
}
.filter-group{
  float: left;
  width: 153px;
  margin: 0;
  padding: 0;
  border: none;
}
.filter-group:first-child{
  margin-right: calc(3.6% + 63px);
}
.filter-group-title{
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: bold;
}
.filter-group input[type="checkbox"]{
  display: none;
}
.filter-group label{
  display: block;
  margin-bottom: 25px;
}
.filter-group label:last-child{
  margin-bottom: 30px;
}
.filter-range{
  float: right;
  width: 35%;
}
.filter-range-title{
  float: right;
  display: block;
  width: calc(80% + 32px);
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}
.cost-controls{
  position: relative;
  float: right;
  width: calc(70% + 55px);
  height: 32px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font-size: 0;
}
.cost-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.min-cost,
.max-cost{
  display: inline-block;
  width: 30%;
  height: inherit;
  padding-left: calc(23% - 10px);
  vertical-align: top;
  font-size: 14px;
  line-height: 32px;
  cursor: pointer;
}
.max-cost{
  padding-left: calc(23% - 16px);
}
.cost-controls input{
  width: 66%;
  height: inherit;
  padding: 0;
  border: 0;
  vertical-align: top;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background: none;
  text-align: left;
  outline: none;
}
.range-controls{
  position: relative;
  float: right;
  width: calc(70% + 57px);
  height: 23px;
  margin-bottom: 12px;
}
.range-scale{
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}
.range-bar{
  width: calc(96% - 54px);
  height: 2px;
  background-color: #ffffff;
}
.range-toggle{
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  border: 8px solid #ffffff;
  border-radius: 50%;
  background-color: #ababab;
  box-shadow: 0 2px 3px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.range-toggle:hover{
  background: #1c4f80;
}
.range-toggle-min{
  left: 0;
}
.range-toggle-max{
  left: calc(96% - 54px);
}
.filter-range .btn{
  margin-left: calc(60% - 85px);
}

/******* Сортировка каталога отелей *******/
.catalog-sorting{
  padding-top: 30px;
  padding-bottom: 26px;
  padding-left: 6%;
  padding-right: 6%;
  border-bottom: 1px solid #e5e5e5;
  font-size: 0;
}
.sorting-found{
  display: inline-block;
  margin-right: 49px;
  vertical-align: baseline;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
.sorting-filter-title{
  margin-right: 40px;
  font-size: 12px;
  line-height: 18px;
}
.sorting-filter{
  padding: 0;
  font-size: 0;
}
.sorting-filter .sorting-item{
  display: inline-block;
  vertical-align: baseline;
  font-size: 12px;
  line-height: 18px;
}
.sorting-type{
  display: inline-block;
  vertical-align: baseline;
}
.sorting-type .sorting-item{
  width: 80px;
}
.sorting-by{
  border-bottom: 1px dotted #81b3d2;
  color: #b2b2b2;
  text-decoration: none;
}
.sorting-by.active{
  border-bottom: none;
  color: #81b3d2;
}
.sorting-by:hover{
  color: #81b3d2;
}
.sorting-by:active{
  border-bottom: none;
  color: #000000;
}
.sorting-destination{
  float: right;
  width: 100px;
}
.sorting-destination .sorting-item{
  position: relative;
}
.sorting-up,
.sorting-down{
  font-size: 0;
}
.sorting-up::after{
  content: "";
  position: absolute;
  top: 9px;
  left: 66px;
  width: 0;
  height: 0;
  border-bottom: 10px solid #cccccc;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
.sorting-down::after{
  content: "";
  position: absolute;
  top: 9px;
  left: 88px;
  width: 0;
  height: 0;
  border-top: 10px solid #c6c2bd;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
.sorting-up.active::after{
  border-bottom: 10px solid #81b3d2;
}
.sorting-down.active::after{
  border-top: 10px solid #81b3d2;
}
.sorting-up:hover::after{
  border-bottom: 10px solid #000000;
}
.sorting-down:hover::after{
  border-top: 10px solid #000000;
}
.sorting-up:active::after{
  border-bottom: 10px solid #81b3d2;
}
.sorting-down:active::after{
  border-top: 10px solid #81b3d2;
}

/********** Карточка отеля **********/
.hotel{
  padding: 30px 6%;
  padding-bottom: 26px;
  border-bottom: 1px solid #e5e5e5;
}
.hotel-image{
  float: left;
  width: 135px;
  height: 90px;
  margin-right: 31px;
}
.hotel-description{
  float: left;
  width: 360px;
}
.hotel-title{
  font-size: 21px;
  line-height: 16px;
}
.hotel-title-link{
  display: block;
  margin-bottom: 12px;
  color: #000000;
  text-decoration: none;
}
.hotel-title-link:hover{
  color: #81b3d2;
}
.hotel-title-link:active{
  color: #cacaca;
}
.hotel-type-price{
  margin-bottom: 10px;
  font-size: 0;
}
.hotel-type,
.hotel-price{
  display: inline-block;
  vertical-align: baseline;
  font-size: 14px;
  line-height: 21px;
}
.hotel-type{
  min-width: 110px;
  margin-right: 6px;
}
.hotel-price{
  min-width: 142px;
}
.hotel-buttons-block{
  font-size: 0;
}
.hotel-rating{
  position: relative;
  float: right;
  min-width: 110px;
  margin-top: 64px;
  text-align: center;
  background-color: #f2f2f2;
}
.hotel-rating::before{
  position: absolute;
  content: "";
  top: -65px;
  right: 0;
  height: 17px;
  background: url("../img/icon-star.png") repeat-x;
}
.star-1::before{
  width: 24px;
}
.star-2::before{
  width: 42px;
}
.star-3::before{
  width: 66px;
}
.star-4::before{
  width: 90px;
}
.star5::before{
  width: 114px;
}
.rating-text,
.rating-value{
  display: inline-block;
  padding: 2px 0;
  vertical-align: baseline;
}

/********** Футер **********/
.footer{
  width: 100%;
  padding-top: 37px;
  padding-bottom: 36px;
  font-size: 0;
  background-color: #ffffff;
}
.footer-on-content{
  content: "";
  position: absolute;
  bottom: 0;
  opacity: 0.9;
}
.footer-hashtag,
.footer-social,
.footer-designed{
  display: inline-block;
  width: 33%;
  padding-right: 5px;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
}
.footer-hashtag{
  width: 34%;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
.btn-social{
  position: relative;
  display: inline-block;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  vertical-align: top;
  font-size: 0;
  background-color: #81b3d2;
  cursor: pointer;
}
.btn-social::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50% , -50%);
          transform: translate(-50% , -50%);
  background: url("../img/sprite.png") no-repeat;
}
.btn-twitter::before{
  width: 17px;
  height: 15px;
  background-position: -384px -248px;
}
.btn-facebook::before{
  width: 10px;
  height: 19px;
  background-position: -239px -144px;
}
.btn-youtube::before{
  width: 20px;
  height: 16px;
  background-position: -20px -303px;
}
.btn-social:hover{
  background-color: #669ec0;
}
.btn-social:active{
  background-color: #5496bd;
}
.btn-social:active::before{
  opacity: 0.3;
}
.footer-designed{
  font-size: 0;
}
.footer-designed span{
  display: inline-block;
  margin-bottom: 1px;
  margin-right: 8px;
  vertical-align: middle;
  font-size: 14px;
  line-height: 21px;
}
.footer-designed-link{
  display: inline-block;
  width: 113px;
  height: 39px;
  vertical-align: middle;
  background: url("../img/sprite.png") no-repeat -86px -144px;
  cursor: pointer;
}
.footer-designed-link:hover{
  background-position: -20px -223px;
}
.footer-designed-link:active{
  background-position: -173px -223px;
}