body{
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  font-weight: normal;
  font-family: "PT Sans", "Arial", "sans-serif";
  text-transform: uppercase;
}
h1{
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
h2{
  margin: 0;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
.shadow-container{
  position: relative;
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
}

/********** Хедер **********/
.main-header{
  position: relative;
}
.menu-list{
  padding: 0;
  font-size: 0;
}
.menu-item{
  display: inline-block;
  width: 20%;
  padding-top: 17px;
  padding-bottom: 18px;
  vertical-align: top;
  font-size: 14px;
  text-align: center;
}
.menu-item:nth-child(4n-2){
  margin-right: 20%;
}
.logo-picture{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 138px;
  height: 70px;
}
.welcome{  
  height: 510px;
  margin-bottom: 60px;
  text-align: center;  
  background:
    url("../img/index-mask-bg.png") no-repeat center bottom,
    #8b99a2 url("../img/index-welcome-bg.jpg") no-repeat 50% 22%;
  background-size: auto, cover;
}
.welcome img{
  width: 458px;
  height: 352px; 
  margin-top: 76px;
}

/********** Статья "Причины" **********/
.reasons-title,
.reasons-description{
  width: 576px;
  margin: 0 auto;
  text-align: center;
}
.reasons-title{  
  margin-bottom: 27px;
}
.reasons-description{
  margin-bottom: 51px;
  line-height: 26px;
}
.reason-container,
.reasons-block{
  height: 256px;
}
.features{
  height: 330px;
}
.reasons-block{
  margin-bottom: 54px;
}
.reason-item{
  float: left;
  width: 33%;
  height: 100%;
  text-align: center;
}
.features .reason-item:nth-child(2),
.reasons-block .reason-item:nth-child(2){
  width: 34%;
}
.reason-image{
  float: left;
  width: 67%;
  height: 100%;
}
.reason-town-image{
  background: #989484 url("../img/reason-town.jpg") no-repeat center center;
  background-size: 100% auto;
}
.reason-bridge-image{
  background: #c38b6d url("../img/reason-bridge.jpg") no-repeat center center;
  background-size: 100% auto;
}

/********** Секция "Поиск гостиниц" **********/
.search-hotels-title,
.search-hotels-description{  
  width: 576px;
  margin: 0 auto;
  text-align: center;
}
.search-hotels-title{
  display: block;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
}
.search-hotels-description{  
  margin-bottom: 47px;
  font-size: 14px;
  line-height: 24px;
}
.search-hotels-btn{
  display: block;
  width: 568px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  vertical-align: top;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  background-color: #766357;
}

.map img{
  width: 100%;
  height: 100%;
}

.modal-search-hotels{
  display: none;
}

/********** Футер **********/
.footer-on-content{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  font-size: 0;  
  background-color: #ffffff;
  opacity: 0.9;
}
.footer-hashtag,
.footer-social,
.footer-designed{
  display: inline-block;
  width: 33%;
  padding: 44px 0;
  vertical-align: baseline;
  text-align: center;
}
.footer-hashtag{
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
.footer-social,
.footer-designed{
  font-size: 14px;
  line-height: 21px;
}
.footer-designed{
  padding-left: 5px;
}
.footer-designed img{
  vertical-align: middle;
}
